/* global */
article {
  padding: 25px;
}
div .divider {
  margin: 0 25px;
}
h1, h2 {
  font-weight: 200;
  text-transform: uppercase;
}
h3 {
  font-weight: 300;
}
a {
  color: #FFD740;
  font-weight: bold;
}
a:hover {
  color: #FFE57F;
}
ul, ul li {
  list-style-position: inside;
  list-style-type: circle;
}

/* presentation */
#presentation {
  padding-bottom: 25px;
}
#presentation .header img {
  width:      148px;
  height:     148px;
  margin-top: 35px;
}
#presentation .header .title {
  margin-bottom: 35px;
}
#presentation .content strong {
  font-weight: normal;
}

/* social links */
#social {
  padding-bottom: 35px;
}
#social a {
  margin: 10px;
}
/* taken from http://brand-colors.com/ */
#twitter {
  background-color: #55acee;
}
#github {
  background-color: #171515;
}
#stackoverflow {
  background-color: #ef8236;
}
#linkedin {
  background-color: #0e76a8;
}
#email {
  background-color: #db4437;
}

/* work */
#work {
  padding-right: 0;
}
#work h3 {
  font-size: 2.5em;
}
#work h5 {
  font-size: 1.3em;
}
#work h3 small {
  font-weight: 200;
}
#work .tech-stack {
  font-style: italic;
}
.timeline {
  position: relative;
  padding: 0.5em 0;
  margin-bottom: 2em;
}
.timeline::before {
  /* timeline vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 28px;
  height: 100%;
  width: 4px;
  background-color: #00BCD4;
}
.timeline img {
  position: absolute;
  background-color: white;
  width: 60px;
  height: 60px;
}
.timeline-block-content {
  margin-left: 75px;
  margin-top: 50px;
}
.timeline-block::before {
  /* small allow to fake a "message" bubble */
  content: " ";
  position: absolute;
  border: 7px solid transparent;
  border-right: 7px solid #00BCD4;
  left: 62px;
  top: 25px;
}
.timeline-block-dates {
  color: black;
  margin-top: -50px;
}
.timeline-block {
  position: relative;
}

/* projects */
.projects .card-image img {
  height: 350px;
}
