/* global */
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

/* presentation */
#presentation .header img {
  margin-top: 35px;
}
#presentation .header .title {
  margin-bottom: 35px;
}
#presentation .social-links {
  margin-top: 50px;
  padding-bottom: 50px;
}
#presentation .content strong {
  font-weight: normal;
}
/* taken from http://brand-colors.com/ */
#twitter {
  background-color: #55acee;
}
#github {
  background-color: #171515;
}
#stackoverflow {
  background-color: #ef8236;
}
#linkedin {
  background-color: #0e76a8;
}
#email {
  background-color: #db4437;
}
